<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario de autor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/autor.css" type="text/css"/>
    </head>
    <body>
        <nav>
            <div class="autor-header">
                <h1>
                    Espacio para cargar autores en la librería
                </h1>
            </div>
        </nav>
        <div class="form-container">
            <form action="/autor/registro_autor" method="POST">
                <div class="div-class1">
                    <h2>Digite el nombre del autor</h2>
                    <input type="text" id="text-place" name="nombreAutor" placeholder="Nombre del autor">
                </div>
                <div class="submit-button">
                    <button type="submit">Subir autor</button> 
                </div>

                <div th:if="${success != null}" class="case-success">
                    <h2>Éxito</h2>
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${fail != null}" class="case-failed">
                    <h2>Error</h2>
                    <p th:text="${fail}"></p>
                </div>          
            </form>            
        </div>
        <div class="g-class">
            <a th:href="@{/autor/lista_autores}" id="request-list">
                <button type="button" id="but-style">Ver lista de autores</button>
            </a>
        </div>
    </body>
</html>
