<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>       
        <link rel="stylesheet" href="css/index-styles.css" type="text/css"/>
        <title>Web libreria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    </head>
    <header>
        <div class="Header-nav-bar">
            <div class="Options-nav">
                <h1>
                    Biblioteca de consultas
                </h1>              
            </div>
            <div class="Options-nav">  
                <h2>
                    Libros
                </h2>
                <h2>
                    <a href="/autor">
                        Autores
                    </a>
                </h2>
                <h2>
                    <a href="/editorial">
                        Editoriales
                    </a>
                </h2>         
            </div>
        </div> 
    </header>
    <body>
        <div class="body">
            <img id="imagen" src="../css/img/biblioteca.jpg" alt="Imagen de libreria">
        </div>            
    </body>
</html>
