/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/11/2023, 05:42:00 PM
    Author     : new53
*/

.autor-header {
    width: 100%;
    display: flex;
    font-family: sans-serif;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: brown;
    border-radius: 10px;
}

.form-container {
    font-family: sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-top: 10px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.div-class1 {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.div-class1 input {
    border-style: ridge;
    padding: 10px 0 10px 60px;
    border-radius: 5px;
}

.submit-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;   
}

.submit-button button {
    border-style: ridge;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    background-color: beige;
    transition: background-color 0.2s, color 0.2s;
}

.submit-button button:hover {
    background-color: lightgrey;
}

.case-success {
    margin-top: 10px;
    border-radius: 7px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.case-failed {
    margin-top: 10px;
    border-radius: 7px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Gtable {
    width: 100%; 
    border-collapse: collapse;   
}

.g-class {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.edit-icon {
    text-decoration: none; 
    display: flex;
    justify-content: center;
}

.edit-icon button{
    border: none;
    background-color: inherit; 
}

.edit-icon button i{
    color: blue;
    font-size: 15px;
}

.delete-icon{
    text-decoration: none; 
    display: flex;
    justify-content: center;  
}

.delete-icon button{
    border: none;
    background-color: inherit; 
}

.delete-icon button i{
    color: red;
    font-size: 15px;
}

th, td{
    border: 2px solid black;
    padding: 8px;
}

#request-list {
    margin-top: 40px;
    text-decoration: none;
}

#but-style {
    padding: 10px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: lemonchiffon;
    transition: background-color 0.2s, color 0.2s;
}

#but-style:hover {
    background-color: lightgrey;
}
