<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--suppress ALL -->
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="/Fragments/head :: head"></head>
    <body>
        <nav th:replace="/Fragments/navbar :: nav"></nav>
        <div class="alert-container" th:if="${vacio != null}">
            <div class="alert alert-danger" role="alert" th:text="${vacio}"></div>
        </div>
        <div class="alert-container" th:if="${exito != null}">
            <div class="alert alert-success" role="alert" th:text="${exito}"></div>
        </div>
        <div class="alert-container" th:if="${fallo != null}">
            <div class="alert alert-danger" role="alert" th:text="${fallo}"></div>
        </div>
        <div class="news-container" th:if="${listaNot != null}">
            <div class="card mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" id="card-box" th:each="noti : ${listaNot}">     
                <div class="card-body justify-content-space-around">
                    <h5 class="card-title" id="truncate" th:text="${noti.nombreNoticia}"></h5>
                    <p class="card-text" id="truncate" th:text="${noti.cuerpoNoticia}"></p>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#exampleModal-' + ${noti.idNoticia}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                    <form th:action="@{/editar_noticias/detalle_noticia}" method="POST">
                        <input type="hidden" name="id" th:value="${noti.idNoticia}">
                        <input type="hidden" name="tituloNoticia" th:value="${noti.nombreNoticia}">
                        <input type="hidden" name="cuerpoNoticia" th:value="${noti.cuerpoNoticia}">
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        </button>
                    </form>
                    <div class="modal fade" th:id="'exampleModal-' + ${noti.idNoticia}" tabindex="-1" th:aria-labelledby="'exampleModal-' + ${noti.idNoticia}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar noticia</h1>
                                </div>
                                <div class="modal-body">
                                    ¿Deseas eliminar la noticia seleccionada? 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <form th:action="@{/editar_noticias/eliminar}" method="POST">
                                        <input type="hidden" name="id" th:value="${noti.idNoticia}">
                                        <button type="submit" class="btn btn-primary">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>