<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav id="navbar-example2" class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/egg.jpg" alt="Egg" width="60" height="54" class="d-inline-block align-text-center">
            Egg News
        </a> 
    </div>
    <div class="options">
        <ul  class="nav nav-pills nav-fil">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/crear_noticias}">Crear noticia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/editar_noticias}">Editar noticia</a>
            </li>
        </ul>
    </div>        
</nav>